#class1 .class {fill: #CD3333; r: 65.0 !important;}
#class2 .class {fill: #CD3333; r: 66.66666666666667 !important;}
#class3 .class {fill: #CD3333; r: 68.33333333333333 !important;}
#class4 .class {fill: #CD3333; r: 53.33333333333333 !important;}
#class5 .class {fill: #ADFF2F; r: 63.333333333333336 !important;}
#class6 .class {fill: #EE7AE9; r: 73.33333333333333 !important;}
#class7 .class {fill: #EEEE00; r: 61.666666666666664 !important;}
#class8 .class {fill: #EEEE00; r: 60.0 !important;}
#class9 .class {fill: #0000FF; r: 58.33333333333333 !important;}
#class10 .class {fill: #0000FF; r: 56.66666666666667 !important;}
#class11 .class {fill: #0000FF; r: 55.0 !important;}
#class12 .class {fill: #00FFFF; r: 70.0 !important;}
#class13 .class {fill: #00FFFF; r: 51.66666666666667 !important;}
#class14 .class {fill: #B8860B; r: 71.66666666666667 !important;}
#class15 .class {fill: #B8860B; r: 50.0 !important;}
